@font-face {
  font-family: 'Moderniz';
  src: url('/public/assets/Moderniz.otf');
}
.App {
  background-image: url('/public/images/yasuo_background.jpg');
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  overflow: hidden;
}
.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.hidden {
  opacity: 0;
  transition : all 1s;
}
.show {
  opacity: 1;
}

.hiddenRight {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition : all 1s;
}
.showRight {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

h2 {
  font-family: "Moderniz";
  font-weight: 500;
  font-style: normal;
  text-align: center;
  text-shadow: 0 -0px 0px #FFF, 0 -0px 0px rgb(255, 255, 255), 0 -5px 8px #000000, 0 -9px 12px rgb(0, 0, 0);
  font-size: 2rem;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}